* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: white;
}


.container  {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 20vh 70vh 10vh;
  grid-template-areas: "h h"
                       "m a"
                        "f f";
  
 /* grid-gap: 20px;
  grid-row-gap e grid-column-gap
  */

}

header {
  background: yellow;

   grid-area: h;
  /*
   grid-column-start: 1;
  grid-column-end: 3;
  */
 
  }

main{
  background: blue;
 
  grid-area: m;
   /*
   grid-column-start: 1;
  grid-column-end: 3;
  */
}

aside{
  background: green;
  
   grid-area: a;
  /*
   grid-column-start: 1;
  grid-column-end: 3;
  */
}

footer{
  background: red;
  
   grid-area: f;
   /*
   grid-column-start: 1;
  grid-column-end: 3;
  */
}